.SuperMarketTemplate {
  width : 768 px;
  display: flex;
  border : 1px solid black;
  margin : auto 3rem auto ;
}

.SuperMarketTemplate h2 {
  margin-top :0 ; 
}
.SuperMarketTemplate > div{
  padding : 1rem;
  flex: 1;
}

.SuperMarketTemplate .items-wrapper {
  background: #aaa;
}